<section id="highlights" class="wrapper style3">
    
    <div class="container">

        <b>POLÍTICA DE PRIVACIDAD </b>

        <p>
            El presente establece los términos en que Extremadura Online S.L. usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. 
            Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. 
            Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
        </p>

        <b>Control de su información personal</b>

        <p>
            De acuerdo con lo establecido en la Ley Orgánica 3/2018 del 5 de diciembre de Reglamento General de Protección de Datos (RGPD), se informa que los datos proporcionados por usted en el formulario de su perfil de nuestras aplicaciones serán incorporados a un fichero, del que es responsable EXTREMADURA ONLINE S.L. registrado en la Agencia Española de Protección de datos, cuya finalidad es la de proporcionar ayuda a los estudiantes de varias oposiciones mediante test y otros recursos online. La cesión es completamente voluntaria, solo es necesario introducir el email para él acceso. No se enviarán correos electrónicos con información publicitaria. Extremadura Online S.L. está altamente comprometido para cumplir con el compromiso de mantener su información segura.
            Si lo desea, puede ejercer sus derechos de acceso, rectificación, cancelación y oposición, en los términos establecidos en la legislación vigente, que podrá hacer efectivos dirigiéndose a EXTREMADURA ONLINE S.L., en CALLE ISIDRO PACENSE, 48 , 06009 Badajoz o a través del email: ruben@razonaqui.com
        </p>
    
    </div>
    
</section>