<section id="header" class="wrapper">

        <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">MILTEMARIOS</a></h1>
                <p>Plataforma de contenidos interactivos para preparación de oposiciones</p>
            </div>

        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <!-- <li class="current"><a href="index.html">INICIO</a></li>

                    <li>
                        <a href="#">TEMARIOS</a>

                        <ul>
                            <li><a href="#">MAGISTERIO</a></li>
                            <li><a href="#">SECUNDARIA</a></li>
                            <li><a href="#">POLICIA</a></li>
                            <li>
                                <a href="#">HOSPITALES</a>
                                <ul>
                                    <li><a href="#">CELADORES</a></li>
                                    <li><a href="#">CAMARERO</a></li>
                                    <li><a href="#">LIMPIADOR</a></li>
                                    <li><a href="#">COCINERO</a></li>
                                    <li><a href="#">PINCHE</a></li>
                                </ul>
                            </li>
                            <li><a href="#">SANIDAD</a></li>
                        </ul>
                    </li> -->
                    <li><a routerLink="temario" >TEMARIOS</a></li>
                    <li><a >OPOSITORES</a></li>
                    <li><a routerLink="privacidad">PRIVACIDAD</a></li>
                </ul>
            </nav>

    </section>
