<app-header></app-header>
<router-outlet></router-outlet>
<!-- <section>
    <app-contenido></app-contenido>
    <app-privacidad></app-privacidad>
</section> -->

<app-footer></app-footer>

<!-- <router-outlet></router-outlet> -->
