<section id="highlights" class="wrapper style3">
    <div class="title">Temarios Destacados</div>
    <div class="container">
        <div class="row aln-center">
            <div *ngFor="let temario of listaTemarios; let i = index" class="col-4 col-12-medium">
                <!-- <div *ngFor="let temario of categoria.Temarios"> -->
                    <div class="highlight">
                        <a href="#" >
                            <img style="max-width: 200px; max-height: 200px;" src="{{ temario.Imagen }}" alt="" />
                        </a>
                        <h3>
                              <a href="#"> {{ temario.Nombre }} </a> 
                        </h3>
                        <p> {{ temario.Descripcion }} </p>
                        <p > <span style="color:black; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px;"> Profesor: <span style="font-weight: bold;"> {{ temario.Profesor }} </span></span> </p>
                        <p > <span style="color:black; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px;"> KEY: <span style="font-weight: bold;"> {{ temario.Key }} </span></span> </p>
                        
                      
                        <img alt="App móvil de milanuncios.com en Google Play" src="https://scm-milanuncios-frontend-pro.milanuncios.com/statics/images/promo/logo-disponible-googlePlay.dda98bd191.png">
                        <img alt="App móvil de milanuncios.com en iTunes" src="https://scm-milanuncios-frontend-pro.milanuncios.com/statics/images/promo/logo-disponible-appStore.c1747aba6d.png">
                    </div>
                <!-- </div> -->
            </div>        
        </div>
    </div>
</section>

