	<!-- Footer -->
    <section id="footer" class="wrapper">
            <div class="title">CONTACTE CON NOSOTROS</div>
            <div class="container">
                <header class="style1">
                    <h2>¿Es profesor y quiere publicar sus temarios?</h2>
                    <p>
                        Rellene el siguente formulario y en breve nos pondremos en contacto con usted.<br />
                        Muchas gracias por su confianza.
                    </p>
                </header>
                <div class="row">
                    <div class="col-6 col-12-medium">

                        <!-- Contact Form -->
                            <section>
                                <form method="post" action="#">
                                    <div class="row gtr-50">
                                        <div class="col-6 col-12-small">
                                            <input type="text" name="name" id="contact-name" placeholder="Nombre" />
                                        </div>
                                        <div class="col-6 col-12-small">
                                            <input type="text" name="email" id="contact-email" placeholder="Email" />
                                        </div>
                                        <div class="col-12">
                                            <textarea name="message" id="contact-message" placeholder="Mensaje" rows="4"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><input type="submit" class="style1" value="Enviar" /></li>
                                                <li><input type="reset" class="style2" value="Borrar" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </section>

                    </div>
                    <div class="col-6 col-12-medium">

                        <!-- Contact -->
                            <section class="feature-list small">
                                <div class="row">
                                    <div class="col-6 col-12-small">
                                        <section>
                                            <h3 class="icon solid fa-home">Dirección</h3>
                                            <p>
                                                Alcala y Alenda 23<br />
                                                Local 5<br />
                                                06011, BADAJOZ
                                            </p>
                                        </section>
                                    </div>
                                    <div class="col-6 col-12-small">
                                        <section>
                                            <h3 class="icon solid fa-comment">Social</h3>
                                            <p>
                                                <a href="#">@miltemarios</a><br />
                                                <a href="#">linkedin.com/miltemarios</a><br />
                                                <a href="#">facebook.com/miltemarios</a>
                                            </p>
                                        </section>
                                    </div>
                                    <div class="col-6 col-12-small">
                                        <section>
                                            <h3 class="icon solid fa-envelope">Email</h3>
                                            <p>
                                                <a href="#">miltemarios@gmail.com</a>
                                            </p>
                                        </section>
                                    </div>
                                    <div class="col-6 col-12-small">
                                        <section>
                                            <h3 class="icon solid fa-phone">Teléfono</h3>
                                            <p>
                                                653 XX XX XX
                                            </p>
                                        </section>
                                    </div>
                                </div>
                            </section>

                    </div>
                </div>
                <div id="copyright">
                    <ul>
                        <li>&copy; {{ anoActual }}</li><li>Diseño: <a href="http://#"> Dedalus Informática </a></li>
                    </ul>
                </div>
            </div>
        </section>

